---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
---

<Layout 
  title="Yesid Marín | Desarrollador de Software Full-Stack"
  description="Portafolio de Yesid Marín, un apasionado desarrollador de software con experiencia en la creación de aplicaciones web modernas y eficientes."
>
  <main>
    <Hero />
    <Projects />
    <Skills />
    <Experience />
    <Contact />
  </main>
</Layout>